.meetups-list-page-container {
  margin: auto;
  max-width: 900px;
  margin-top: 100px;
}

.meetups-list-page-title, .meetups-h3 {
  text-align: center;
}

.meetups h2 {
  margin-bottom: 10px;
  margin-top: 10px;
}

.meetups ul, .meetups li {
  list-style-type: none;
}

.meetup-list-results {
  border-bottom: 1px solid lightgray;
}

.meetups-list-container {
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  margin: 20px;
  max-width: 900px;
}

.join-meetup-btn {
  float: right;
}