.meetups {
  max-width: 900px;
  margin: auto;
}

.meetups-page-title {
  text-align: center;
  margin-bottom: 25px;
}

.create-meetups-title {
  text-align: center;
  margin-bottom: 25px;
}

.meetups-user-hook {
  text-align: center;
}

.meetups-user-info {
  margin: auto;
  margin-bottom: 75px;
  max-width: 750px;
  text-align: left;
}